.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    position:fixed;
    padding: 0px;  margin: 0px;
    width: 80px;
    height: 100%;
  }


  .wd-kanbas-navigation li {
    padding: 10px;     margin-bottom: 10px;
    font-size: 0.8em;  text-align: center;
  }
  .wd-kanbas-navigation li.wd-active {
    background-color: white;
  }
  .wd-kanbas-navigation li.wd-active a {
    color: red;
  }
  .wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
  }
  .wd-kanbas-navigation a i {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
  }

  .wd-kanbas-navigation li a[href="/Kanbas/Account/Profile/screen.html"] i {
    color: white;
}

.wd-kanbas-navigation-mini {
  background-color: white;
  list-style: none;
  position:fixed;
  padding: 0px;  margin: 0px;
  padding-left: 20%;
  width: 80px;
  height: 100%;
}
.wd-kanbas-navigation-mini li {
  padding: 10px;     margin-bottom: 10px;
  font-size: 0.8em;  text-align: center;
}

.wd-kanbas-navigation-mini a {
  color: red;
  text-decoration: none;
}
.wd-kanbas-navigation-mini a i {
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
}

.wd-kanbas-navigation-mini li a[href="/Kanbas/Account/Profile/screen.html"] i {
  color: grey;
}

  